*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    background-position: center;
    background-color: bisque;
}

nav{
    background-color: rgba(95, 21, 21, 0.541);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px; 
}

main{
    background-color: bisque;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 69, 69);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.menu li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    border-radius: 20px;
    justify-content: space-around;
}

.menu li a:hover{
    color: darkgreen;
}

p{
    font-size: 20px;
}
